.card__container{
    width: 100%;
    flex:1;
    display: flex;
}
.card{
    padding: 1rem;
    margin-bottom: 20px;
    width: 100%;
}
.card__dragging{
    padding: 1rem;
    margin-bottom: 20px;
    width: 100%;
    background-color: lightgreen;
}
.card__content{
    display: flex;
    justify-content: space-between;
}
.card__content__text{
    margin-left: 2em;
    flex:1;
    justify-content: center;
    align-items: center;
}