/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  } */
  
  body {
    overflow: auto;
    
  }  
  
  .todo-app{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
    overflow:auto; 
  }
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  
  /* .complete {
    text-decoration: line-through;
    opacity: 0.4;
  } */
  
  .todo-form {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px auto;

  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color:black;
  }
  
  .todo-input::placeholder {
    color:black;
    opacity: 0.3;
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid #149fff;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: auto;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color:black;
    background: linear-gradient(
      90deg,
      rgb(201, 241, 247) 0%,
      rgb(209, 238, 238) 100%
    );
    
    overflow: auto;
    padding: 16px;
    border-radius: 5px solid blue;
    width: 90%;
  }
  
 
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color:red;
  }
  
  .edit-icon {
    color:green;
  }
  .hi{
    width:100%;
    overflow: auto;
  }