.chat{
    flex-direction: column;
    display: flex;
    margin-top: 3em;
    padding:10px;
    height: 82vh;
    margin-right: 8rem;
    margin-left: 8rem;
    border: 1px solid;
    border-color: rgb(202, 196, 196);
    border-radius: 5px;
    flex:1;
    /* box-shadow: 1px 2px 1px rgba(139, 138, 138, 0.521), 1px 0px 1px rgba(105, 105, 105, 0.64), 0px 2px 2px rgba(122, 122, 122, 0.23); */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}
.chat__header{
    padding:20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
}
.chat__body{
    flex:1;
    background-color:#ecf2f8a1;
    padding: 30px;
    margin-left: 2px;
    margin-right: 2px;
    overflow: scroll !important;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    box-shadow: 1px 1px 1px 0px #dadada33 inset, 1px 1px 1px 0px #b1afaf6c inset, 1px 1px 1px 0px #f1f1f1a1 inset;
}
.chat__message{
    position: relative;
    font-size: 16px;
    padding:10px;
    width: fit-content;
    border-radius: 10px;
    color: black;
    background-color: rgb(235, 235, 235);
    margin-bottom: 30px;
}
.chat__receiver{
    position: relative;
    font-size: 16px;
    padding:10px;
    margin-left: auto;
    width: fit-content;
    border-radius: 10px;
    background-color: #007bff;
    margin-bottom: 30px;
    color: white;
}
.bubble__bottom__right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 2px solid transparent ;
    border-right: 32px solid #007bff;
    border-top: 1px solid #007bff;
    border-bottom: 20px solid transparent;
    right: 15px;
    bottom: -11px;
}
.bubble__top__left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 32px solid rgb(235, 235, 235);
    border-right: 12px solid transparent;
    border-top: 1px solid rgb(235, 235, 235);
    border-bottom: 20px solid transparent;
    left: 15px;
    bottom: -11px;
}
.chat__timestamp{
    margin-left: 10px;
    font-size: xx-small;
}
.chat__name{
    position:absolute;
    top:-15px;
    font-weight: 800;
    font-size: xx-small;
    color: black;

}
.chat__footer{
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
    justify-content: space-between;
}
.chat__footer>form{
    flex:1 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    outline: none;
}
.chat__footer>form>input{
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border:none;
    outline: none;
    background-color: rgba(235, 235, 235, 0.6);
    display: flex;

}
.chat__footer>form>button{
    display: none;
}
aside.emoji-picker-react{
    display: none;
}
.MuiIconButton-root{
    border:none;
    outline: none;
}
.MuiIconButton-root:focus{
    outline: none;
}
.MuiIconButtonBase-root:focus{
    outline: none;
}
.MuiIconButtonBase-root{
    outline: none;
}